<!-- index.ejs -->
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
</head>

<body>


    <%- include('./partials/navbar') %>

        <h2>PAGE: INDEX</h2>
        <div>
            <ul class="messages-display">
                <% messages.forEach((m,index)=> { %>
                    <li>
                        <ul class="inside-list">
                            <li>
                                <%= m.text %>
                            </li>
                            <li>
                                <br>
                                <%= m.user %>
                                    <br><br>

                                    <%= m.added.getMonth() %> / <%= m.added.getDate() %> /
                                            <%= m.added.getFullYear() %>
                            </li>


                            <a class="open" href="message/<%= index %>">open</a>

                        </ul>
                    </li>

                    <% }) %>
            </ul>
        </div>
</body>

</html>