<!-- index.ejs -->
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Details</title>
</head>

<body>


    <%- include('./partials/navbar') %>

        <h2>PAGE: DETAILS</h2>
        <div class="details">

            <div class="user">
                <h3>
                    <%= msg.user %>
                </h3>
            </div>
            <p>
                <%= msg.added.getMonth() %>-<%= msg.added.getDate() %>-<%= msg.added.getFullYear() %>, <%=
                                msg.added.getMinutes() %>:<%= msg.added.getHours() %>

            </p>
            <h3>
                <%= msg.text %>
            </h3>



        </div>

</body>

</html>